/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

h1,h2,h3,h4,h5,p,a{
   font-family: 'Open Sans Condensed', sans-serif;
}

p {
font-size: 24px;
letter-spacing: 1px;
word-spacing: 4px;
font-weight: 500;
line-height: 1.7;
margin-bottom: 25px;
}

blockquote {
border-left: 10px solid #eee;
}
blockquote p {
text-transform: uppercase;
font-size: 26px;
letter-spacing: 3px;
word-spacing: 5px;
}
.story h1{
   font-family: 'lush';
}
.story p{
   font-family: 'brioso-pro';
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
header.banner.navbar.navbar-default.navbar-static-top {
background: #fff;
border: transparent;
}
.banner>.container {
border-bottom: #e7e7e7 solid 1px;
}
.header-img {
width: 100%;
}
.navbar-nav {
width: 76%;
background-color: transparent;
transition: background-color 1.5s ease;
}
.navbar-nav a {
   transition: color .5s ease;
font-size: 20px;
}
.affix nav{
   background-color: rgba(214,214,214, .5);
}
.navbar-nav a:hover{
   color: #000;
}
.affix{
   transition: top .7s ease;
   top: 0;
   margin-left: 6%;
   margin-top: 33px;
}
.affix .navbar-nav{
   width: 78%;
   margin: 0 auto;
}
 .affix .navbar-collapse{
   width: 100%;
   background-color: rgba(214,214,214, .5);
}
.affix .navbar-nav > li:hover{
   transition: background-color .5s ease;
  background-color:  rgba(214,214,214, .7)
}
form#searchform {
float: left;
margin-top: 8px;
}
input#s {
border-radius: 4px;
border: solid 3px #eee;
}
input#searchsubmit {
text-transform: uppercase;
font-weight: 600;
font-family: 'Open Sans Condensed', sans-serif;
}
.affix #searchform {
   transition: background-color .5s ease;;
background-color:  rgba(214,214,214, .7)
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.post-categories {
list-style: none;
}
.post-categories>li {
display: inline-block;
margin-right: 10px;
}
/* ==========================================================================
   Maintenance
   ========================================================================== */
.page-template-template-maintenance-php h1, .page-template-template-maintenance-php h3, .page-template-template-maintenance-php p{
   text-align: center;
}

#social-may ul {
margin: 0px;
padding: 15px;
height: 75px;
list-style: none;
/* position: fixed; */
/* bottom: 20px; */
/* right: 20px; */
/* background: rgba(255,255,255,0.3); */
font-size: 18px;
color: #03a7b1;
background-color: rgba(214,214,214, .5);
width: 60px;
margin: 0 auto;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

/*#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}
*/
#social ul {
margin: 0px;
padding: 15px;
list-style: none;
position: fixed;
bottom: 20px;
right: 20px;
background: rgba(255,255,255,0.3);
font-size: 18px;
color: #03a7b1;
background-color: rgba(214,214,214, .5);
}

#social i {
font-size: 24px;
}
#social-may li {
width: 20px;
margin-right: 26px!important;
}
#social li, #social-may li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a, #social-may li a {padding: 10px; margin-right:15px;}

.credits {
font-size: 14px;
text-align: center;
}
.page-template-template-maintenance-php #menu-social-navigation {
display: none;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.navbar-nav>li {
margin-right: 3%;
}

.navbar-header{
   display: none;
}
.header-img {
width: 20%;
margin: 0px auto;
}
#social-may{
   width: 11%;
   margin: 0 auto;
}
h1, .h1 {
font-size: 64px;
}
.margin-top{
   margin-top: 125px;
}
.float-right{
   float: right;
   margin-left: 25px;
}
.navbar-nav {
width: 80%;
}
.nav>li>a {
padding: 10px 5px;
font-size: 16px;
}
form#searchform {
width: 20%;
}
input#s {
width: 45%;
}
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
#social-may ul {
margin: 0 auto;
}
.nav>li>a {
font-size: 20px;
padding: 10px 15px;
}
form#searchform {
width: initial;
}
input#s {
width: initial;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
