/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

h1,h2,h3,h4,h5,p,a,label{
   font-family: 'Open Sans Condensed', sans-serif;
}
.content img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
font-size: 16px;
letter-spacing: 1px;
word-spacing: 1px;
font-weight: 500;
line-height: 1.7;
margin-bottom: 25px;
}

blockquote {
border-left: 10px solid #ddd;
}
blockquote p {
text-transform: uppercase;
font-size: 26px;
letter-spacing: 3px;
word-spacing: 5px;
}
.story h1{
   font-family: 'lush';
}
.story p{
   font-family: 'brioso-pro';
}
img.size-full{
   width: 100%;
   height: auto;
}
.home .page-header{
   display: none;
}
a{
   color: #4F9491;
   transition: color ease .7s;
   -webkit-transition: color ease .7s;
   -moz-transition: color ease .7s;
   -o-transition: color ease .7s;

}
h3{font-size: 28px;}
div#mc_embed_signup {
margin-bottom: 50px;
}
.sidebar, .sidebar h3 {
text-align: center;
}
.sidebar li {
list-style: none;
font-size: 18px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
header.banner.navbar.navbar-default.navbar-static-top {
background: #fff;
border: transparent;
}
.banner>.container {
border-bottom: #e7e7e7 solid 1px;
}
.header-img {
width: 100%;
}
.navbar-nav {
width: 76%;
background-color: transparent;
transition: background-color 1.5s ease;
}
.navbar-nav a {
   transition: color .5s ease;
font-size: 20px;
}
.affix nav{
   background-color: rgba(214,214,214, .5);
}
.navbar-nav a:hover{
   color: #000;
}
.affix{
   transition: top .7s ease;
   top: 0;
   width: 100%;
   background: #fff;
   margin: 0px auto;
}
.affix .navbar-nav{
   width: 72%;
   margin: 0 auto;
}
.affix .navbar-collapse {
width: 100%;
background-color: #fff;
}
.affix .navbar-nav > li:hover{
   transition: background-color .5s ease;
  background-color:  rgba(214,214,214, .7)
}
form#searchform {
float: left;
margin-top: 3px;
}
input#s {
border-radius: 4px;
border: solid 3px #eee;
}
input#searchsubmit {
text-transform: uppercase;
font-weight: 600;
font-family: 'Open Sans Condensed', sans-serif;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.post-categories {
list-style: none;
padding-left: 0px;
}
.post-categories>li {
display: inline-block;
margin-right: 10px;
background-color: rgba(214,214,214, .9);
padding: 5px;
}
.thumb-card {
   width: 100%;
   padding-bottom: 133%;
   margin: 15px 0px;
}

/* ==========================================================================
   Maintenance
   ========================================================================== */
.page-template-template-maintenance-php h1, .page-template-template-maintenance-php h3, .page-template-template-maintenance-php p{
   text-align: center;
}

#social-may ul {
margin: 0px;
padding: 15px;
height: 75px;
list-style: none;
/* position: fixed; */
/* bottom: 20px; */
/* right: 20px; */
/* background: rgba(255,255,255,0.3); */
font-size: 18px;
color: #03a7b1;
background-color: rgba(214,214,214, .5);
width: 60px;
margin: 0 auto;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

/*#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}
*/
#social ul {
margin: 0px;
padding: 15px;
list-style: none;
position: fixed;
bottom: 20px;
right: 20px;
background: rgba(255,255,255,0.3);
font-size: 18px;
color: #03a7b1;
background-color: rgba(214,214,214, .5);
}

#social i {
font-size: 24px;
}
#social-may li {
width: 20px;
margin-right: 26px!important;
}
#social li, #social-may li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a, #social-may li a {padding: 10px; margin-right:15px;}

.credits {
font-size: 14px;
text-align: center;
clear: both;
}
.page-template-template-maintenance-php #menu-social-navigation {
display: none;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .thumb-overlay{
      position: absolute;
      top: 0px;
      background: #eee;
      text-align: center;
      opacity: 0;
      width: 100%;
      padding-bottom: 133%;
      transition: opacity ease .3s;
   }
   .card-container {
      position: relative;
   }
   .thumb-overlay h1 {
      margin: 25px 15px;
   }
   .thumb-overlay:hover{
      opacity: .7;
      transition: opacity ease .3s;
   }
.navbar-nav>li {
padding: 10px 0;
}
 .affix .navbar-collapse{
   width: 100%;
   background-color: rgba(214,214,214, .5);
}
.navbar-header{
   display: none;
}
.header-img {
width: 50%;
margin: 0px auto;
}
#social-may{
   width: 11%;
   margin: 0 auto;
}
h1, .h1 {
font-size: 64px;
}
.margin-top{
   margin-top: 125px;
}
.float-right{
   float: right;
   margin-left: 25px;
}
.navbar-nav {
width: 72%;
}
.nav>li>a {
padding: 10px 5px;
font-size: 16px;
}
form#searchform {
width: 20%;
}
input#s {
width: 45%;
}
/*
Mail Chimp Signup
*/
input#mce-EMAIL {
   float: left;
}
input#mc-embedded-subscribe {
float: right;
clear: none!important;
}
p{
   font-size: 20px;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
#social-may ul {
margin: 0 auto;
}
.nav>li>a {
font-size: 20px;
padding: 10px 15px;
}
form#searchform {
width: initial;
padding: 10px 0;
}
input#s {
width: initial;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .affix .navbar-nav{
      width: 78%;
      margin: 0 auto;
   }
   .navbar-nav {
      width: 76%;
   }
 }
